.search-form {
  margin-top: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.search-input {
  width: 272px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #808080;
  color: #808080;
  font-family: Montserrat;
  font-size: 16px;
  letter-spacing: 0.04em;
  padding: 8px 16px;
}

.search-input:hover {
  border: 1px solid #000;
}

.search-input:focus {
  border: 1px solid #4e75ff;
}
